@tailwind base;

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.upload-field{
  background: rgba(30, 71, 255, 0.1);
  border: 1px dashed #1E47FF;
  border-radius: 5px;
  padding:11px 22px;
  width: 100%;
}
.upload-field-error{
  background: rgba(255, 30, 30, 0.1);
  border: 1px dashed #ff1e1e;
  border-radius: 5px;
  padding:11px 22px;
  width: 100%;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}